/* Main chat container */
.chat-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: white;
  border-radius: none;
  background: linear-gradient(to bottom, white, #eff6ff); /* Add gradient here */
}

.bg-gradient-to-b {
  background: linear-gradient(to bottom, white, #eff6ff);
}

.chat-header {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

/* Chat box */
.chat-box {
  border-radius: 10px;
  height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  
}

/* Chat message container */
.chat-message {
  display: flex;
  align-items: flex-start;
  position: relative;
  margin-bottom: 8px;
}

.chat-message.user {
  justify-content: flex-end;
}

.chat-message.assistant {
  justify-content: flex-start;
  margin-left: 46px;
}

/* Avatar */
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  top: 5px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.assistant-avatar {
  left: -46px;
}

.assistant-avatar img {
  width: 85%;
  height: 85%;
  border-radius: 50%;
}

.user-avatar {
  right: -45px;
}

.user-icon {
  width: 100%;
  height: 100%;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.user-icon .icon {
  width: 24px;
  height: 24px;
  color: gray;
}

/* Message bubble */
.message-bubble {
  max-width: 75%;
  padding: 12px 16px;
  font-size: 16px;
  border-radius: 15px;
  word-wrap: break-word;
  /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); */
}

.assistant-bubble {
  background-color: #f3f4f6;
  color: #021817;
  font-size: 16px;
  padding: 12px 16px;
  border-radius: 15px 15px 15px 5px;
}

.user-bubble {
  background-color: #007bff;
  color: white;
  border-radius: 15px 15px 5px 15px;
}
