body {
  margin: 0;
  /* background-color: rgb(13, 13, 13); */
}

/* main {
  border: 20px solid rgb(126, 125, 125);
} */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #eff6ff; */
  background: linear-gradient(to bottom, white, #eff6ff); /* Add gradient here */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input,
textarea,
select {
  font-size: 16px !important; /* Prevents iPhone zoom */
}
